# Introduction to pandas
Key topics:
* Most important pandas data types: DataFrame and Series
* Ways to make a DataFrame
* Accessing elements in a DataFrame
* Setting values in a DataFrame
* Getting part of a DataFrame

In [1]:
import pandas as pd
import numpy as np

This "indexData.csv" comes from [here](https://www.kaggle.com/mattiuzc/stock-exchange-data), but I changed the name of the first column so you should use the version on Canvas, not the version on Kaggle.

In [4]:
# Your path will be different!
df = pd.read_csv("data/indexData.csv")

In [5]:
df

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,12/31/65,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1/3/66,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1/4/66,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1/5/66,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1/6/66,532.070007,532.070007,532.070007,532.070007,532.070007,0.0
...,...,...,...,...,...,...,...,...
112452,N100,5/27/21,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,5/28/21,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,5/31/21,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,6/1/21,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,6/2/21,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0